

@font-face {
  font-family: 'SansLight';
  src: local('SansLight'), url(./font/SansLight.woff) format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SansLight';
  list-style: none;
}
body {
  background-color: rgb(30, 30, 31);
}